/*
 *                                                                    
 *     ,---.   ,--.           ,--.           ,-----.                  
 *    '   .-',-'  '-.,--. ,--.|  | ,---.     |  |) /_  ,--,--.,--.--. 
 *    `.  `-.'-.  .-' \  '  / |  || .-. :    |  .-.  \' ,-.  ||  .--' 
 *    .-'    | |  |    \   '  |  |\   --.    |  '--' /\ '-'  ||  |    
 *    `-----'  `--'  .-'  /   `--' `----'    `------'  `--`--'`--'    
 *                   `---'                                            
 *
 *
 *       , _ ,        RESUME: Minimal style config to have basic info
 *      ( o o )              
 *     /'` ' `'\
 *     |'''''''|      AUTHOR:  Andr3xDev
 *     |\\'''//|      URL:  https://github.com/Andr3xDev/Dotfiles
 *        """
 */



/*--------------------------------------------------------------------------------
 *    Colors 
 *-------------------------------------------------------------------------------*/

@define-color background            #282828;
@define-color hard_background       #404040;
@define-color second_background     #45403D;
@define-color foreground            #EBDBB2;
@define-color selection_foreground  #D8A657;
@define-color selection_background  #3c3836;
@define-color color_blue            #7DAEA3;
@define-color color_green           #A9B665;
@define-color color_yellow          #D8A657;
@define-color color_red        	    #EA6962;
@define-color color_purple          #d3869B;
@define-color color_aqua            #89B482;
@define-color color_grey            #7C6F64;
@define-color color_white           #A89984;
@define-color color_orange          #D65D0E;



/*--------------------------------------------------------------------------------
 *    General 
 *-------------------------------------------------------------------------------*/

*{
    font-family: "JetBrainsMono Nerd Font";
}
#waybar {
    box-shadow: 13px 13px 13px 13px #000000;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: @hard_background;
}
window#waybar {
    box-shadow: 13px 13px 13px 13px #000000;
    background-color: @background;
    color: @foreground;
}

tooltip {
    background: @background;
    font-size: 10px;
    opacity: 0.9;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: @hard_background;
}



/*--------------------------------------------------------------------------------
 *    Sections 
 *-------------------------------------------------------------------------------*/

.modules-right {
    font-size: 15px;
}

.modules-center {
}

.modules-left {
    background-color: @background;
}



/*--------------------------------------------------------------------------------
 *    Left Modules 
 *-------------------------------------------------------------------------------*/

#workspaces {
    background-color: @background;
    color: @foreground;
    font-size: 9px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: @hard_background;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: @hard_background;
}
#workspaces button {
    color: @foreground;
    padding: 0 6px;
    font-size: 9px;

}
#workspaces button:hover {
    background-color: @color_aqua;
    color: #000000;
}
#workspaces button.active {
    color: @color_red;
    font-size: 12px;
}
#workspaces button.active:hover {
    background-color: @color_aqua;
    color: #000000;
    font-size: 11px;
}

#clock {
    font-size: 15px;
    background-color: @background;
    padding-top: 1em;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: @selection_background;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: @selection_background;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: @selection_background;

}
#window {
    font-size : 10px;
    background-color: @background;
    padding-top: 2px;
}


/*--------------------------------------------------------------------------------
 *    Right Modules 
 *-------------------------------------------------------------------------------*/


#memory {
    color: @color_aqua;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px;
    border-style: solid;
    border-color: @hard_background;
}

#cpu {
    color: @color_green;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 0px
}
#custom-drive{
    color: @color_yellow;
    padding-top: 1em;
    padding-bottom: 1em;
}
#network {
    color: @color_blue;
    padding-top: 1em;
    padding-bottom: 1em;
}

#bluetooth{
    padding-right: 1em;
    padding-left: 1em;
}

#wireplumber{
    color: @color_purple;
    padding-top: 1em;
    padding-bottom: 1em;
}

#custom-spotify {
    padding-right: 1.5em;
    padding-left: 1em;
    border-right: 3px;
    border-right-style: solid;
}
